* {
  box-sizing: border-box;
  position: 0px;
}
body {
  color: black;
  font-family: "Mulish", sans-serif;
}

/*START----------------------------------------------------- slider */
.slider{
  width: 100%;
  position: relative;
  height:800px;

}

.slider-prev, .slider-next{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999;
  background-color: rgba(252, 252, 255, 0.4);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  font-size: 20px;
  z-index: 10;

}
.slider-next {
  right: 1px;
}
.slider-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  z-index: 10;
}
.slider-item_Title{
  position: absolute;
  width: 85%;
  height: 150px;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%);
  bottom: 25px;
  list-style: none;
 flex: 1 0 100%;
 user-select: none;
 z-index: 10;
}
.slider-item_Title h1{
  font-size: 36px;
  color: white;
  font-weight: 300;
  margin-bottom: 20px;
  object-fit: cover;

}
.tieude-slider{
  font-size: 32px;
}
.slider-title{
  padding: 4.5% 7%;

}
.congnghe-khunganh {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 600px;
}
.slider-dots li {
  margin: 0 10px;
  width: 12px;
  height: 12px;
  border-radius: 100rem;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.25s linear;
}
.slider-dots li.active {
  background-color: rgb(20, 100, 244);
}
.slider-wrapper {
  width: 100%;
  height:100% ;
  overflow: hidden;
  position: relative;
}
.slider-main {
  display: flex;
  position: relative;
  transition: transform 0.3s linear;
  width: 100%;
  height: 100%;
}
.slider-item {
  height: 100%;
  width: 100%;
  flex: 1 0 100%;
  user-select: none;
}
.slider-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index:1;

}







.Tapchi {
  width: 85%;
  margin: 0 auto;
  height: auto;
  margin-bottom: 100px;
  margin-top: 11px;
  letter-spacing: -0.02em;
}
.TIEUDE {
  width: 100%;
  height: 60px;
}
.TinVF,
.xemthem {
  float: left;
  width: 50%;
  height: 46px;
  margin-top: 10px;
}

.xemthem button {
  color: rgb(20, 100, 244);
  background-color: #fff;
  border: none;
  font-size: 12px;
  font-weight: 700;
  box-sizing: border-box;
  cursor: pointer;
  float: right;
}
.TinVF h1 {
  font-weight: 500;
  font-size: 20px;
}

/* TRANG CHỦ - TIN VINFAST */
.cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.card {
  margin-left: 30px;
  overflow: hidden;
  background-color: #fff;
  width: calc(33.3333% - 30px);
  letter-spacing: -0.02em;
  margin-bottom: 30px;
}
.khunganh {
  width: 100%;
  height: 225px;
  overflow: hidden;
}
.card-image {
  transition: transform 0.2s ease-in-out;
  width: 100%;
  height: 100%;
}
.card .card-image:hover {
  transform: scale(1.07);
}
.card-content{
  padding-top: 20px; ;
}
.card-title {
  font-size: 19px;
  margin-bottom: 20px;
  font-weight: 300;
}

.card-title a {
  text-decoration: none;
  color: #050609;
}
.card-title a:hover {
  color: rgb(20, 100, 244);
}
.card-post {
  width: 100%;
  height: 42px;
  font-size: 14px;
  overflow: hidden;
  font-weight: 300;
  line-height: 21px;
}
.card-post p {
  margin: 0;
  padding: 0;
  color: rgba(2, 1, 1, 0.7);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-footer {
  color: rgba(2, 1, 1, 0.5);
  display: flex;
  width: 100%;
  margin-top: 20px;
}
.card-user {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 12px;
}

.card-user a {
  text-decoration: none;
  color: rgba(2, 1, 1, 0.5);
  display: flex;
  min-width: 85px;
}
.card-user a>p {
  margin-top: 9px;
  margin-left: 7px;
  color: rgb(112, 112, 112);
  font-size: 12px;
  font-weight: 600;
  margin-right: 7px;
  width: 100%;
  
}
.card-user img {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

.card-time {
  font-size: 12px;
  margin-right: 20px;
}
.card-comment {
  font-size: 12px;

  display: flex;
}
.card-comment span {
  padding-left: 5px;
}

hr {
  border: none;
  border-top: 1px solid rgba(2, 1, 1, 0.2);
  margin-top: 20px;
  margin-bottom: 15px;
}

/* Trang chủ - Diễn đàn */

.cards-diendan {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.card-diendan {
  margin-left: 30px;
  overflow: hidden;
  background-color: rgb(248, 248, 248);
  width: calc(50% - 30px);
  height: auto;
  padding-bottom: 30px;
}

.card-diendan-image {
  width: 100%;
  height: 362px;
}
.diendan-card-user {
  width: 100%;
  text-align: center;
}
.diendan-card_avt {
  width: 100%;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
  margin-bottom: 20px;
}
.diendan-card_avt img {
  width: 96px;
  height: auto;
  display: block;
  border-radius: 50px;
}

.diendan-card-title {
  font-size: 20px;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.diendan-card-title a {
  text-decoration: none;
  line-height: 30px;
  font-weight: 300;
  font-size: 20px;
  color: rgb(31, 33, 37);
}
.cangiua {
  justify-content: center;
  align-items: center;
}
.diendan-card-user-name {
  display: flex;
}

.diendan-card-name a {
  text-decoration: none;
  margin-right: 5px;
  font-size: 12px;
  font-weight: 600;
  color: rgb(60, 60, 60);
}
.diendan-card-time {
  display: flex;
  font-size: 12px;
  color: rgba(2, 1, 1, 0.7);
}

.forums {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: 30px;
}

.forum {
  box-sizing: border-box;
  margin-left: 30px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  width: calc(25% - 31px);
  letter-spacing: -0.02em;
  height: auto;
  border: 1px solid rgba(140, 137, 137, 0.1);
  padding: 20px;
  justify-content: none;
  align-items: none;
  margin-bottom: 30px;
  transition: all 0.2s ease-in-out;
}
.forum:hover {
  border: 1px solid blue;
}

.forum-button {
  margin-bottom: 15px;
  width: 100%;
  height: 24px;
}
.forum-button button {
  font-size: 12px;
  font-weight: 700;
  border: none;
  color: #fff;
  height: 100%;
  width: auto;
  padding-left: 8px;
  padding-right: 8px;
}

.forum-title {
  font-size: 19px;
  font-weight: 450;
  letter-spacing: -0.4px;
  line-height: 28px;
  width: 100%;
  height: 56px;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}

.forum-title a {
  color: rgb(31, 33, 37);
  text-decoration: none;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.forum-cangiua {
  align-items: center;
}

/* START--------------------------------------------------------------------------------ĐỌC NHIỀU NHẤT */
.docnhieunhats {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}
.docnhieunhat {
  margin-left: 30px;
  overflow: hidden;
  background-color: #fff;
  width: calc(50% - 30px);
  letter-spacing: -0.02em;
  margin-bottom: 35px;
  display: flex;
}

.docnhieunhat-number {
  background-color: rgb(248, 249, 250);
  border-radius: 50px;
  max-width: 45px;
  min-width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: rgb(20, 100, 244);
  font-weight: 500;
}
.docnhieunhat-into {
  height: auto;
  padding-left: 10px;
  padding-bottom: 5px;
}
.docnhieunhat-into-title {
  margin-bottom: 10px;
}
.docnhieunhat-into-title a {
  text-decoration: none;
  color: rgb(60, 60, 60);
  font-size: 22px;
  font-weight: 300;
}

.docnhieunhat-user {
  display: flex;
  color: rgb(112, 112, 112);
  font-size: 12px;
}
.docnhieunhat-user_name {
  font-weight: 700;
  padding-left: 4px;
  padding-right: 4px;
}
/* END--------------------------------------------------------------------------------ĐỌC NHIỀU NHẤT */

/* START--------------------------------------------------------------------------------------------CÔNG NGHỆ */
.congnghe-cards{
  margin-bottom:20px;
  display: grid;
grid-template-columns: 67% 33% ;
grid-template-rows: repeat(4,minmax(auto 123px));
grid-template-areas: 
"chinh phu1"
"chinh phu2"
"chinh phu3"
"chinh phu4"
;
column-gap: 30px;
row-gap: 30px;
}


.congnghe-khunganh_anh {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 600px;
}


.khunganh-anh {
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}

.congnghe-khunganh_anh:hover img{
  transform: scale(1.07);
}

.noidung{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction:column;
  justify-content: end;

  background-image: linear-gradient(to top, rgba(25, 24, 24, 0.6),rgba(33, 32, 32, 0),rgba(25, 24, 24, 0.6));
 
cursor: pointer;

}
.congnghe-title{
  padding: 20px 20px;
}
.card-chinh-button{
  padding-bottom:29PX;
}
.card-chinh-button button{
  border: none;
  background-color: #1464F4 ;
  color: #fff ;
  height: 24px;
}
.card-chinh-title{
  padding-bottom: 25px;
}
.card-chinh-title a{
  
  font-weight: 300;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.tieude-congnghe{
  font-size: 24px;
}
.card-chinh-name{
  display: flex;
  margin-top: -5px;
  margin-bottom: 20px;
  align-items: center;
  transition:none;
}
.user-name-anh{
background-image: url('../Hình ảnh/congnghe-avt1.jpg');
width: 32px;
height: 32px;
border-radius: 50px;
background-size: cover;
  background-position: center;
  margin-right: 10px;
}
.user-name-image{
  width: 32px;
height: 32px;
border-radius: 50px;
background-size: cover;
  background-position: center;
  margin-right: 10px;
  overflow: hidden;
}
.card-chinh-name a{
  color: white;
  text-decoration: none;
  margin-right: 5px;
  font-size: 12px;
  font-weight: 600;
}
.card-chinh-time{
  margin-bottom: -2px;
  font-size: 12px;
  font-weight: 300;
  
}






.congnghe-card-chinh{
  grid-area: chinh;
  background-color: #3597d0;
}

.congnghe-card-chung {
  background-color: #ffffff;
  height: 123px;
  width: 93%;
  display: flex;

}
.congnghe-khunganh-phu{
  width: 43%;
  height: 107px;
  
  background-color: #ffffff;
  overflow: hidden;
  
}
.congnghe-khunganh-phu img{
  width: 100%;
  height: 110%;
  transition: all 0.2s ease-in-out;
}

.congnghe-khunganh-phu:hover img{
  transform: scale(1.07);
}
.congnghe-phu-thongtin{
  width: 57%;
  height: 100%;
  background-color: #ffffff;
  padding-left: 30px;
}
.congnghe-thongtin-title{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(2, 1, 1, 0.2);
  box-sizing: border-box;
}
.congnghe-thongtin-title a{
  color: rgb(30, 33, 50);
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.congnghe-thongtin-title a:hover{
  color: rgb(55, 78, 211);
}
.congnghe-phu-user{
  width: 100%;
  height: auto;
  padding-top: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  line-height: 35px;
  box-sizing: border-box;
  overflow: hidden;
}
.congnghe-phu-user img{
  border-radius: 50px;
  width: 32px;
  height: 32px;
}
.congnghe-phu-user a{
  color: rgb(112, 112, 112);
  text-decoration: none;
  padding-left: 5px;
  font-size: 12px;
  font-weight: 600;
  padding-right: 5px   ;
}
.congnghe-phu-user a:hover{
  color: rgb(112, 112, 112);
}
.congnghe-card-phu1{
  grid-area: phu1;
}
.congnghe-card-phu2{
  grid-area: phu2;
}
.congnghe-card-phu3{
  grid-area: phu3;
}
.congnghe-card-phu4{
  grid-area: phu4;
}
/* END----------------------------------------------------------------------------------------------CÔNG NGHỆ */

/* START--------------------------------------------------------------------------------------------ĐỜI SỐNG */
.DOISONG{
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.doisong-khunganh{
  width: 100%;
  height: 69%;
  overflow: hidden;
  
}
.doisong-image{
  transition: transform 0.2s ease-in-out;
  width: 100%;
  height: 100%;
}
.doisong-card{
  width: calc(50% - 30px);
  margin-left: 30px;
  margin-bottom: 20px;
}
.doisong-content{
  background-color: rgb(248, 249, 250);
  padding: 20px 20px;
 margin-top: 20px;
 margin-bottom: 20px;
  
}
.doisong-card:hover .doisong-image{
    transform: scale(1.05);
}


/* END-----------------------------------------------------------------------------------------------ĐỜI SỐNG */



/* START------------------------------------------------------------------------------------HỎI ĐÁP - SỰ KIỆN */
.hoidap-sukien_container{
  display: flex;
  flex-wrap: wrap;
}


/* HỎI ĐÁP */
.hoidaps{
  width: 50%;
  height: auto;
}
.tieude-cards{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 30px;
  margin-left: 10px;
  margin-right: 30px;

}
.tieude-card{
  display: grid;
  align-items: center;
  grid-template-columns: 104px 1fr;
  display: flex;

}
.tieude-card img{
  width: 80px;
  height: 80px;
border-radius: 50px;
}


.tieude-list{
  margin-left: 20px;
  width: 100%;
  background-color: #F8F9FA;

  padding: 5px 24px;
  position: relative;

}
.hinhthoi{
  background-color: #F8F9FA;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  width: 30px;
  height: 30px;
  margin-left: -36px;
  position: absolute;
  top: 45%; 
}
.tieude-list_title{
  display: flex;
  text-decoration: none;
  color: rgb(30, 33, 50);
  margin-left: 15px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 300;
margin-top: 20px;


}
.tieude-list-user{
  display: flex;
  margin-left: 15px;
  padding-bottom: 22px;
  width: 100%;
  text-decoration: none;

}
.list-user_name{
  
  font-size: 12px;
  font-weight: 700;
  color:rgb(60, 60, 60);
  margin-right: 5px;
}
.tieude-list_title:hover {
  color:rgb(20, 100, 244);

}

.list-user_time{
  color: rgb(112, 112, 112);
  
  font-size: 12px;
  font-weight: 300;
}
.hashtag{
  width: 100%;

}
.hashtag a{
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-right: 20px;
  color: rgb(20, 100, 244);
  text-decoration: none;
}


/* Sự kiện */
.sukuiens{
  width: 50%;
  height: auto; 
  
}
.sukien-cards{
  width: 100%;
  height: auto;
  margin-right: 10px;
}
.sukien-card{
  width: 100%;
  height:  auto;
  background-color: rgb(248, 248, 248);
  /* padding-bottom: 10px; */
  margin-bottom: 10px;
  position: relative;
  display: flex;
  align-items: flex-end;
}
.sukien-card img{
  width: 100%;
  height: auto;

}

.sukien-list{
padding: 12px 20px;
width: 100%;
height: auto;
position: absolute;
 
  bottom: 0%;
  z-index: 1;
  background-color: rgb(248, 248, 248);


}
.sukien-time{
  font-size: 12px;
  font-weight: 300;
  color: rgb(60, 60, 60);
  padding-bottom: 5px;
}
.sukien-title{
  color: rgb(30, 33, 50);
  font-size: 14px;
  font-weight: 600;
  line-height: 16.8px;
  padding-bottom: 10px;
  text-decoration: none;
}
.sukien-title:hover{
  color: rgb(20, 100, 244);
}
/* END--------------------------------------------------------------------------------------HỎI ĐÁP - SỰ KIỆN */

/* START ------------------------------------------------------------------------------------GẦN ĐÂY */
.ganday-cards{
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
}

.ganday-card{
  width:calc(50% - 20px) ;
  margin-left: 20px;
  display: flex;
  height: 210px;
  margin-bottom: 20px;

}
.ganday-card:hover .gandanh-anh{
  transform: scale(1.05);
}
.ganda-khunganh{
  overflow: hidden;
  width: 100%;
  height: 100%;
 
}
.ganday-card-anh{
  width: 45%;
  height: 100%;
  padding-bottom: 20px;
}
.gandanh-anh{
  transition: transform 0.2s ease-in-out;
  width: 100%;
  height: 100%;
  
}
.ganday-content{
  width: 51%;
 padding-left: 30px;
}
.ganday-content_title{
  line-height: 24px;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 5px; 
}
.ganday-content_title a{
  text-decoration: none;
  color: #050609;
  display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.ganday-content_title a:hover{
 
  color: #2b4aaa;
}
.ganday-content-phu{
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgba(100, 100, 111, 0.2)   ;
}

/* END---------------------------------------------------------------------------------------GẦN ĐÂY */


/*START---------------------------------------------------------------------------------------FOOTER */
footer{
height: auto;
background-color: rgb(233, 236, 240);
padding-top: 52px;
padding-bottom: 20px;

}
.duongline{
  margin: 0 auto;
  width: 95%;
  position: absolute;
    margin-top: -56px;
    left: 0;
    background: rgb(20,100,244);
    background: radial-gradient(circle, rgba(20,100,244,1) 0%, rgba(255,255,255,1) 100%);
    height: 10px;
    z-index: 1;
    right: 0;
    clip-path: ellipse(50% 20% at 50% 50%);

}

.footer-container{
  display: flex;
  width: 100%;
  height: 100%;;
  flex-wrap: wrap;
 
  margin-top: 20px;
  margin-bottom: 25px;
}
.footer-logo{
  width: calc(12% - 30px );
  height: auto;
  display: flex;
  justify-content: center;
  margin-left: 30px;
}
.thongtin-vinfasts{
  display: flex;
  flex-wrap: wrap;
  width: 88%;
  justify-content:space-between;
}
.thongtin-vinfast{
  width: calc(35% - 30px );
  margin-left: 30px;
}
.thongtin-vinfast ul>li>a{
  margin-top: 20px;
 color: black;
 text-decoration: none;
 font-weight: 500;
}
.thongtin-vinfast ul>h1{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 12px;
  color: rgb(60, 60, 60);


}
.thongtin-vinfast ul>li{
  
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
.thongtin-vinfast ul>li>h3{
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
  padding-left: 10px;
  color: rgb(60, 60, 60);

}
.dambaothuonghieu{
  margin-top: 30px;
  font-size: 14px;
  font-weight: 500px;
  color: rgb(60, 60, 60);
}
.list-quydinh{
  width: calc(25% - 30px );
  margin-left: 30px;
  display: flex;
  justify-content: center;
 padding-top: 40px;

}
.list-quydinh ul>li{
  margin-bottom: 18px;
}
.list-quydinh ul>li>a{
  color: rgb(60, 60, 60);
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}
.lienhehotro{
  width: calc(25% - 30px );
 
  margin-right: 30px;
  display: flex;
  justify-content: center;
 padding-top: 40px; 
}
.lienhehotro ul>li{
  margin-bottom: 20px;
}
.lienhehotro ul>li>a{
  text-decoration: none;
  color: rgb(60, 60, 60);
}
 

.lienhehotro ul>li>a>span{
  text-decoration: none;
  color: rgb(20, 100, 244);
  margin-left: 5px;
  font-weight: 500;
}









/* mobile & table: with < 1024px  */
@media only screen and (max-width: 1024px) {
  /* đọc nhiều nhất */
  .docnhieunhat {
    width: 100%;
  }
  .docnhieunhat-into-title a {
    font-size: 16px;
  }
  .menu1 .trangchu1.hide {
    display: none;
  }

  /* Công nghệ */
  .congnghe-cards{

    grid-template-areas: 
      "chinh chinh"
      "chinh chinh"
      "phu1 phu1"
      "phu2 phu2"
      "phu3 phu3"
      "phu4 phu4"
      ;
  }
  .congnghe-phu-thongtin{
    width: 70%;
  }
  
}

/* mobile: with < 740px  */
@media only screen and (max-width: 740px) {

   
    /* SLIDER */
    
    .slider{
      width: 100%;
      height: 300PX;
    }
    .tieude-slider{
      font-size: 17px;
      font-weight: 400;
    }
    .card-chinh-name a{
      font-size: 9px;
    }
    .slider-dots li{
      width: 8px;
      height: 8px;
    }
    .slider-dots{
      bottom: 12px;
    }
    .user-name-image{
      width: 25px;
    height: 25px;
    }
    .card-chinh-title{
      padding-bottom: 17px;
    }
    .card-chinh-time{
      font-size: 9px;
    }
    .card-chinh-name{
      margin-bottom: 23px;
    }

    /* Đời sống */
    .doisong-card{
      width: 95%;
    }

  .Tapchi {
    width: 95%;
  }

  /* tin vinfast */
  .card {
    width: 100%;
  }
  .khunganh {
    height: 232px;
  }
  /* Diễn đàn */
  .card-diendan {
    width: 100%;
  }
  .card-diendan-image {
    height: 250px;
  }

  /* forum */
  .forum {
    width: 100%;
  }


  /* CÔNG NGHỆ */

  .congnghe-khunganh {
    height: 332px;
  }

  /* hỏi đáp - sự kiện */
  .hoidaps{
    width: 95%;
  }
  .sukuiens{
    width: 95%;
  }
  .tieude-cards{
    width: 100%;
  }

  /* gẦN ĐÂY */
  .ganday-card{
    width: 95%;
    height: 193px;
  }
    /* footer */
    .footer-logo{
      width: 95%;
      display: flex;
      align-items: center;
      margin-bottom: 30px;
    }
    .thongtin-vinfast{
      width: 95%;
      
    }
    .list-quydinh{
      width: 95%;
      display: flex;
      justify-content: flex-start;
    }
    .lienhehotro{
      width: 95%;
   
    }

}


/* table: with < 1024px  */
@media only screen and (min-width: 740px) and (max-width: 1024px) {

  /* slider */
  .tieude-slider{
    font-size: 2px;
  }
  /* tin vinfast */
  .khunganh {
    height: 130px;
  }
 
  /* Diễn đàn */
  .card-diendan-image {
    height: 201px;
  }
  /* forum */
  .forum {
    width: calc(50% - 31px);
  }
  
  .congnghe-khunganh {
    height: 500px;
  }
  .congnghe-khunganh-phu{
    width: 30%;
  }
  /* gẦN ĐÂY */
  .ganday-card{
    width: 95%;
    height: 180px;
  }

  /* footer */
  .footer-logo{
    display: flex;
    align-items: center;
  }
  .thongtin-vinfast{
    width: 95%;
    
  }
  .list-quydinh{
    width: 49%;
    display: flex;
    justify-content: flex-start;
  }
  .lienhehotro{
    width: 40%;
    display: flex;
    justify-content: flex-start;
  }
}
