*{
    box-sizing: border-box;
    position: 0px;
  }

  body {
        color: black;
        font-family: "Mulish", sans-serif;
    }  

main{
        width: 84%;
        margin: 0 auto;    
        display: flex;   
        margin-bottom: 30px;
}


/* START------------------------------------------MAIN-LEFT */

.main-left
{
    background-color: #ffffff;
    width: 75%;
    padding-top: 50px;
    padding-right: 15px;
}

.tieudebaiviet{
    font-size: 36PX;
    margin-top: 30px;
    margin-bottom: 20px;
}

.USER{
    display: flex;
    margin-bottom: 30px;
}
.user-avt{
    width: 50px;
    height: 50px;
    margin-right: 15px;
}
.user-avt img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}
.tenchude{
    background-color: rgb(24, 126, 174);
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-weight: 600;

}

.chitiet-name
{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}
.xuongdong{
    width: 100%;
    margin-bottom: 5px;
}
.user-name
{
text-decoration: none;
font-size: 16px;
font-weight: 600;
color: black;
margin-right: 15px;
}
.user-name:hover{
    color: #1464F5;
}

.user-quyenvadiem
{
    display: flex;
    align-items: center;
margin-right: 20px;
font-size: 14px;
color: rgb(112, 112, 112);
}
.user-quyenvadiem span{
    margin-right: 5px;
}
.khungtimedangbai{
    width: 30%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
#timedangbai{
    
    font-size: 14px;
    color: rgb(151, 151, 151);
}
.hastags{
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
}
.iconhastag{
    width: 3%;
}
.hastag-cha{
    width: 97%;
}
.hastag{
    margin-right: 5px;
    color: rgb(20, 100, 244);
    text-decoration: none;
    font-size: 15px;
    overflow-wrap: break-word;

}
.hastag:hover{
    color: rgb(43, 44, 44);

}
.user-binhluan{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    margin-bottom: 30px;
}

.noidungbaiviet{
    padding: 5px;
    font-size: 17px;
    height: auto;
}

.form-group{
    width: 100%;
    margin-bottom: 10px;
}

#edt_binhluanbaiviet{
    width: 100%;
    margin: 0 auto; /* Để căn giữa theo chiều ngang */
    border: none;
    border-bottom: 2px solid #4140405c; /* Màu và độ dày của border dưới */
    border-radius: 10px;
        resize: none;   /* Ngăn cho textarea có thể phóng to hoặc thu nhỏ */
        padding: 5px;
    font-size: 17px;

    overflow: hidden; /* Loại bỏ thanh cuộn */
    color: #39393a;
    font-weight: 300;
    
}
#edt_binhluanbaiviet:focus{
    outline: none; /* Loại bỏ viền xung quanh khi trường dữ liệu được tập trung */
    border-bottom: 2px solid #000000c6; 

}
.user-dabinhluan{
    margin-bottom: 30px;
}
#btn-binhluanbaiviet{
background-color: #0556BF;
color: #ffffff;
padding: 10px 20px;
border: none;
border-radius: 20px;
font-size: 15px;
cursor: pointer;
}
#btn-binhluanbaiviet:focus{
background-color: #39393a;


}
.user-thongtin{
    display: flex;
    width: 100%;
    align-items: center;
}

#noidungbinhluan{
    background-color: #F8F8F8;
    margin-top: 15px;
    padding: 20px;
}

/* STAR--------------------Bình luận */


/* END------------------------------------------MAIN-LEFT */

/* START------------------------------------------MAIN-RIGHT*/

.main-right{
    width: 25%;
    margin-top: 50px;

}



/* END------------------------------------------MAIN-RIGHT*/
