<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--START Dùng chung -->

    <link rel="icon" href="../Hình ảnh/logo4.png" type="image/png" />
    <title>Đăng Nhập - Cộng đồng VinFast Toàn cầu</title>
    <link rel="stylesheet" href="..//Menu/reponsive-Trang_Chu.css" />
    <link rel="stylesheet" href="./CSS/reset.css" />

    <link
      rel="stylesheet"
      href="../fontawesome-free-6.4.0-web/fontawesome-free-6.4.0-web/css/all.css"
    />
    <link
      rel="stylesheet"
      href="../fontawesome-free-6.4.0-web/fontawesome-free-6.4.0-web/css/solid.css"
    />
    
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap"
      rel="stylesheet"
    />
    <!--END Dùng chung -->
    <link rel="stylesheet" href="./CSS/Đăng nhập.css" />
     <script src="../angular.min.js">  </script>
    <script src="./JS/jquery-3.7.0.min.js">  </script>
    <script src="./JS/Đăng ký.js">  </script>

    <script src="../Menu/Menu.js">  </script>
  </head>

  <body ng-app="AppDienDan" ng-controller="DangKy_User">
  <!-- START ---------------------------------------------------------------------------------MENU -->
  <div id="menu" ng-controller="User_menu">
    <div class="logo">
      <img
        width="150px"
        max-height="74px"
        src="../Hình ảnh/logo.png"
        alt=""
        class="logoPC"
      />
      <img
        width="50px"
        max-height="100%"
        src="../Hình ảnh/LOGO2.png"
        alt=""
        class="logoTL_MB"
      />
    </div>
    <div class="timkiem-mobile-btn">
      <i class="fa-solid fa-magnifying-glass fa-lg" style="color: #000000;"></i>
    </div>
    <ul class="menu2">
      <li class="trangchu">
        <a  onclick="Form_TrangChu()"> <b> Trang chủ</b> </a>
      </li>
    
      <li class="trangchu1">
        <a  onclick="Form_DienDan()"
          ><b>Diễn đàn </b> <i class="fa-solid fa-angle-down"></i
        ></a>
        <ul class="submenu">
          <li ng-repeat="c in listChuDe_menu">
            <a href="http://127.0.0.1:5501/User/Ch%E1%BB%A7%20%C4%91%E1%BB%81.html?id={{c.iD_Topic}}">{{c.title}}</a>
          </li>
        </ul>
      </li>

      <li class="trangchu1">
        <a href="#"><b>Liên hệ</b></a>
      </li>


      <li class="trangchu2">
        <hr>
        <a onclick="Form_DangNhap()"><b>Đăng nhập</b></a>
      </li>
      <li class="trangchu2">
        <a onclick="Form_DangKy()"><b>Đăng ký</b></a>
      </li>
    </ul>
    <div class="timkiem-taikhoan">
      <i class="fa-solid fa-magnifying-glass fa-xl"> </i> 
      <img width="20px" height="30px" src="../Hình ảnh/icons8_vertical_line_50px_3.png" alt="">
      <button id="btn_nofication"  onclick="Form_ThongBao()"><img src="../Hình ảnh/icons8_notification_1.svg" alt="" width="100%" height="100%"></button>
      <div id="form_notifications" style="display: none;">
        <h2>Thông báo</h2>


        <a  href="#" class="card_notification">
          <img src="../Hình ảnh/card-diendan-2.png" alt="Lỗi r">
          <div class="notification_khung_content">
              <div class="title_content" >
                <p class="title_content_bold">
                  Tên người dùng
                </p>
                 <p>Bạn có thông báo</p>
              </div>
              <div class="time_content">12 phút trước</div>
          </div>
        </a>
        <a  href="#" class="card_notification">
          <img src="../Hình ảnh/congnghe-avt2.jpg" alt="Lỗi r">
          <div class="notification_khung_content">
              <div class="title_content" >
                <p class="title_content_bold">
                  Tên người dùng 2
                </p>
                 <p>Bạn có thông báo</p>
              </div>
              <div class="time_content">1 tiếng trước</div>
          </div>
        </a>
        <a  href="#" class="card_notification">
          <img src="../Hình ảnh/congnghe-avt1.jpg" alt="Lỗi r">
          <div class="notification_khung_content">
              <div class="title_content" >
                <p class="title_content_bold">
                  Tên người dùng 3
                </p>
                 <p>Bạn có thông báo</p>
              </div>
              <div class="time_content">30 phút trước</div>
          </div>
        </a>


      </div>
      <div id="ctl_dangnhap_dangky_user">
        <a  href="./Đăng nhập_User.html">
        <button class="btn-dangnhap" value="Đăng nhập" onclick="Form_DangNhap()" > Đăng nhập</button>
      </a>
        <button class="btn-dangky" value="Đăng ký" onclick="Form_DangKy()" >Đăng ký</button>
      </div>
      <div id="ctl_thongtintaikhoan">
        <div class="ctl_user_header">
          <div onclick="hienthichucnanguser()" id="user-control_header">
          
            <a href="#"><div id="name_user_menu"></div><img id="avt_user_menu" src="" alt="thông báo"><i class="fa-solid fa-angle-down"></i>
            </a>
          </div>

          <div id="khung_ctl_user_header" style="display: none;">
            <button id="btn_dangxuat" onclick="Form_DangNhap()">Đăng xuất</button>
          </div>
        </div>
      </div>
      
    </div>
    <div class="menu-mobile-btn">
      <i class="fa-solid fa-bars" style="color: #020203;"></i>
    </div>
  </div>
 
 
  <!-- END ---------------------------------------------------------------------------------MENU -->


    <header>
      <div id="login">
        <div class="login-title"><h1>Đăng ký</h1></div>
        <div class="login-text_taikhoan">
          <input
              type="text"
              name="Tài khoản"
              id="taikhoan"
              placeholder="Tài khoản"
              oninput="validate(this)"
          />
      </div>
      <div class="login-text_matkhau">
          <input
              type="password"
              name="Mật khẩu"
              id="dky_matkhau"
              placeholder="Mật khẩu"
              oninput="validate(this)"
          />
      </div>
      <div class="login-text_matkhau">
          <input
              type="password"
              name="Mật khẩu"
              id="dky_nhaplaimatkhau"  
              placeholder="Nhập lại mật khẩu"
              oninput="validate(this)"
          />
      </div>
      <div class="login-text_matkhau">
        <input
          type="text"
          name="Mật khẩu"
          id="dky_fullname"
          placeholder="Họ và tên"

        />
      </div>
        <div class="login-text_matkhau">
          <input
            type="text"
            name="Mật khẩu"
            id="dky_email"
            placeholder="Email"
            oninput="validate(this)"

          />
        </div>
      
        <div class="login-btn_dangnhap">
          <button ng-click="DangKy()" style="width: 100%" id="dangnhap">Đăng ký</button>
        </div>
        <div class="hoi">Bạn đã có tài khoản</div>
        <div class="login-btn_dangky">
          <button onclick="Form_DangNhap()" style="width: 100%" class="dangky">Đăng nhập</button>
        </div>
      </div>
     
    </header>
    <div class="icon-chat">
      <img src="../Hình ảnh/nhantin-login.png" alt="">
    </div>
  
    


  </body>
</html>
